* {
    margin : 0;
    padding : 0;
    outline : none;
    /* border: 1px solid #fff; */
    box-sizing: content-box;
}

html {
    height: 100vh !important;
}

html, body {
    width : 100vw;
    /* overflow: hidden; */
}

body {
    font-family : 'Open Sans', sans-serif;
    font-size : 14px;
    line-height : 1.4;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
}

.main-title {
    display : none;
}

.ba-line {
    position : relative;
    display : inline-block;
    text-decoration : none;
    color: #333;
    line-height : 1;
    padding : 7px 0;
    -webkit-transition : color .3s ease-in-out;
    -moz-transition : color .3s ease-in-out;
    -ms-transition : color .3s ease-in-out;
    -o-transition : color .3s ease-in-out;
    transition : color .3s ease-in-out;
}

.ba-line:hover, .ba-line:active {
    color: #23527c;
}

.ba-line:before, .ba-line:after {
    content : "";
    background: #FFEB3B;
    position : absolute;
    height : 3px;
    width : 0;
    -webkit-transition : width .3s ease-in-out;
    -moz-transition : width .3s ease-in-out;
    -ms-transition : width .3s ease-in-out;
    -o-transition : width .3s ease-in-out;
    transition : width .3s ease-in-out;
}

.ba-line:before {
    top : 0;
    left : 0;
}

.ba-line:after {
    bottom : 0;
    right : 0;
}

.ba-line:hover:before, .ba-line:hover:after {
    width : 100%;
}

.menu-container, .content {
    position : absolute;
    height : 100vh;
    top : 0;
}

.menu-container {
    width : 50px;
    left : 0;
    overflow : hidden;
    background-color : rgba(124, 124, 124, 0.95);
    box-shadow : 0 1px 2px rgba(30, 30, 30, .3);
    transition : width .3s ease-in-out, left .3s ease-in-out;
}

body[data-device="computer"] .menu-container:hover, .menu-container.open {
    width : 200px;
}

.menu-title {
    width : 48px;
    color : #FFFFFF;
    font-weight : 600;
    font-size : 14px;
    margin : 30px 0 30px 0;
    transform : rotate(-90deg);
    -webkit-transition : all .3s ease-in-out;
    -moz-transition : all .3s ease-in-out;
    -o-transition : all .3s ease-in-out;
    transition : all .3s ease-in-out;
}

body[data-device="computer"] .menu-container:hover .menu-title, .menu-container.open .menu-title {
    margin : 30px 0 30px 25px;
    transform : rotate(0deg);
}

.menu {
    padding-left : 25px;
    opacity : 0;
}

body[data-device="computer"] .menu-container:hover .menu, .menu-container.open .menu {
    -webkit-transition : opacity .3s .3s ease-in-out;
    -moz-transition : opacity .3s .3s ease-in-out;
    -o-transition : opacity .3s .3s ease-in-out;
    transition : opacity .3s .3s ease-in-out;
    opacity : 1;
}

.menu-ul {
    list-style : none;
}

.menu-li {
    padding : 12px 0;
}

@media screen and (max-height : 400px) {
    .menu-li {
        padding : 4px 0;
    }
}

.menu-a {
    text-decoration : none;
    color : #FFFFFF;
    white-space : nowrap;
}

.content {
    width : calc(100vw - 50px);
    left : 50px;
}

.content.full-img {
    z-index : 1;
}

.enter-container {
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    background-color : #FFFFFF;
    visibility : hidden;
    opacity : 0;
    transition : all 500ms ease-in-out;
}

.enter-container.show {
    visibility : visible;
    opacity : 1;
}

#lines {
    position : absolute;
    top : 0;
    left : 0;
}

.enter-brand {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    animation : a1 1s 1;
}

@keyframes a1 {
    0% {
        opacity : 0;
    }

    100% {
        opacity : 1;
    }
}

.enter-brand h2 {
    font-weight : normal;
    line-height : 1;
}

.enter-brand h2:first-of-type {
    font-size : 28px;
}

.enter-brand h2:last-of-type {
    font-size : 14px;
}

.enter-links {
    position : absolute;
    width : calc((100vw - 116px) / 2);
    display : flex;
    justify-content : space-around;
    top : 50%;
    right : 0;
    transform : translateY(-50%);
    animation : a2 1s 1;
}

@keyframes a2 {
    0% {
        opacity : 0;
    }

    50% {
        opacity : 0;
    }

    100% {
        opacity : 1;
    }
}

@media screen and (max-width : 600px) {
    .enter-links {
        min-width : 320px;
        top : auto;
        right : auto;
        bottom : 10px;
        left : 50%;
        transform : translateX(-50%);
    }
}

.project-container {
    position : relative;
    height : 100%;
    display : flex;
    overflow-x : auto;
    overflow-y : hidden;
    -webkit-overflow-scrolling : touch;
}

.project-part {
    height : 100%;
    flex-shrink : 0;
    padding : 0 20px;
}

.project-title {
    display : flex;
    align-items : center;
}

.project-title h2 {
    font-size : 30px;
    padding : 10px 0;
}

.project-details {
    position : relative;
    text-align : justify;
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.project-cover {
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    background-image : linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
}

.project-details h2 {
    font-size : 30px;
    padding : 10px 0;
    margin-right : 20px;
    color : #000000;
}

.project-info {
    position : relative;
    max-width : 400px;
}

.project-img-box {
    display : flex;
    box-sizing : border-box;
}

.project-img-box:nth-child(even) {
    align-items : flex-start;
    padding-top : 20px;
}

.project-img-box:nth-child(odd) {
    align-items : flex-end;
    padding-bottom : 20px;
}

.project-img-box img.loaded {
    opacity : 1;
}

.project-buts {
    position : relative;
    display : flex;
    align-items : center;
}

.project-buts > a {
    flex-shrink : 0;
    font-size : 18px;
    cursor : pointer;
    text-decoration : none;
    color : #000000;
}

.project-close {
    position : absolute;
    right : 20px;
    top : 20px;
}

.project-close img {
    height : 20px;
    transition : height 500ms ease;
}

.project-close:hover img {
    height : 30px;
}

.project-arrow {
    display : flex;
    flex-direction : column;
    backface-visibility : hidden;
    transform : translateZ(0);
}

.project-prev {
    margin-right : 20px;
    align-items : flex-start;
}

.project-next {
    align-items : flex-end;
}

.project-arrow img {
    position : relative;
    display : block;
    height : 16px;
    transition : all 500ms ease;
}

.project-arrow:hover img {
    height : 20px;
}

.project-galery {
    position : fixed;
    width : 100vw;
    height : 100vh;
    top : 0;
    left : 0;
    background-color : rgba(255, 255, 255, 0.9);
    z-index : 1;
    opacity : 0;
    visibility : hidden;
    transition : all 500ms ease;
}

.project-galery.show {
    opacity : 1;
    visibility : visible;
}

.project-gallery-bimg {
    position : absolute;
    max-width : 100%;
    max-height : 100%;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

.project-gallery-but {
    position : absolute;
    height : 16px;
    padding : 7px 0;
    top : calc(50% - 15px);
    cursor : pointer;
    transition : transform 0.3s ease;
}

.project-gallery-but.left {
    left : 10px;
}

.project-gallery-but.right {
    right : 10px;
}

.project-gallery-but img {
    display : block;
    height : 100%;
}

.project-gallery-close {
    position : absolute;
    top : 10px;
    right : 10px;
    height : 30px;
    cursor : pointer;
    transition : transform 0.3s ease;
}

.project-gallery-but:hover, .project-gallery-close:hover {
    transform : scale(1.08);
}

.project-gallery-close img {
    display : block;
    height : 100%;
}

@media screen and (max-height : 500px) {
    .project-img-box:nth-child(even) {
        align-items : center;
        padding-top : 0;
    }

    .project-img-box:nth-child(odd) {
        align-items : center;
        padding-bottom : 0;
    }
}

.awards-container {
    width : 100%;
    height : 100%;
}

.awards-container > div {
    height : 50%;
}

.awards-title-box {
    width : 100%;
    overflow : hidden;
    display : flex;
    align-items : center;
}

.awards-info {
    margin-left : 20%;
}

.awards-info h2 {
    margin-bottom : 10px;
}

.awards-boxes-container {
    position : relative;
    display : inline-block;
    box-sizing : border-box;
    max-width : 100%;
    overflow-x : auto;
    overflow-y : hidden;
    -webkit-overflow-scrolling : touch;
    padding : 0 25vh;
}

.awards-boxes {
    position : relative;
    height : 100%;
    display : flex;
    flex-wrap : nowrap;
    transform : skewX(-45deg);
}

.awards-box {
    display : block;
    height : 100%;
    width : 400px;
    flex-shrink : 0;
    border-right : 10px solid #FFFFFF;
    overflow : hidden;
}

.awards-box:last-of-type {
    border-right : none;
}

.awards-content {
    position : relative;
    height : 100%;
    width : calc(100% + 50vh);
    top : 0;
    left : -25vh;
    transform : skewX(45deg);
}

.awards-img-box {
    width : 100%;
    height : 100%;
    background : center center no-repeat;
    background-size : cover;
}

.awards-img-box img {
    display : block;
    width : 100%;
    height : 100%;
    opacity : 0;
}

.awards-title, .awards-plink {
    display : none;
}

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: 500ms ease all;
    opacity: 1;
    background-color: white;
}
.loading.hide-loading{
    opacity: 0;
    visibility: hidden;
}
.loading:after {
    content : '';
    position : absolute;
    transform: translateX(-150px);
    display : block;
    width : 30px;
    height: 10px;
    /* background-color : transparent; */
    -o-transform : skewX(-45deg);
    box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 0px rgba(124, 124, 124, 1), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 8px rgba(124, 124, 124, 0.2);
    -webkit-animation : loadingAnim 2s linear infinite;
    -moz-animation : loadingAnim 2s linear infinite;
    animation : loadingAnim 2s linear infinite;
}

@-webkit-keyframes loadingAnim {
    0% {
        box-shadow : 38px 0 0px rgba(124, 124, 124, 1), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 10px rgba(124, 124, 124, 0);
    }

    10% {
        box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 0px rgba(124, 124, 124, 1), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 8px rgba(124, 124, 124, 0.2);
    }

    20% {
        box-shadow : 38px 0 4px rgba(124, 124, 124, 0.6), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 0px rgba(124, 124, 124, 1), 152px 0 2px rgba(124, 124, 124, 0.8), 190px 0 4px rgba(124, 124, 124, 0.6), 228px 0 6px rgba(124, 124, 124, 0.4);
    }

    30% {
        box-shadow : 38px 0 6px rgba(124, 124, 124, 0.4), 76px 0 4px rgba(124, 124, 124, 0.6), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 0px rgba(124, 124, 124, 1), 190px 0 2px rgba(124, 124, 124, 0.8), 228px 0 4px rgba(124, 124, 124, 0.6);
    }

    40% {
        box-shadow : 38px 0 8px rgba(124, 124, 124, 0.2), 76px 0 6px rgba(124, 124, 124, 0.4), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 2px rgba(124, 124, 124, 0.8), 190px 0 0px rgba(124, 124, 124, 1), 228px 0 2px rgba(124, 124, 124, 0.8);
    }

    50% {
        box-shadow : 38px 0 10px rgba(124, 124, 124, 0), 76px 0 8px rgba(124, 124, 124, 0.2), 114px 0 6px rgba(124, 124, 124, 0.4), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 2px rgba(124, 124, 124, 0.8), 228px 0 0px rgba(124, 124, 124, 1);
    }

    60% {
        box-shadow : 38px 0 8px rgba(124, 124, 124, 0.2), 76px 0 10px rgba(124, 124, 124, 0), 114px 0 8px rgba(124, 124, 124, 0.2), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 4px rgba(124, 124, 124, 0.6), 228px 0 2px rgba(124, 124, 124, 0.8);
    }

    70% {
        box-shadow : 38px 0 6px rgba(124, 124, 124, 0.4), 76px 0 8px rgba(124, 124, 124, 0.2), 114px 0 10px rgba(124, 124, 124, 0), 152px 0 8px rgba(124, 124, 124, 0.2), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 4px rgba(124, 124, 124, 0.6);
    }

    80% {
        box-shadow : 38px 0 4px rgba(124, 124, 124, 0.6), 76px 0 6px rgba(124, 124, 124, 0.4), 114px 0 8px rgba(124, 124, 124, 0.2), 152px 0 10px rgba(124, 124, 124, 0), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 6px rgba(124, 124, 124, 0.4);
    }

    90% {
        box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 4px rgba(124, 124, 124, 0.6), 114px 0 6px rgba(124, 124, 124, 0.4), 152px 0 8px rgba(124, 124, 124, 0.2), 190px 0 10px rgba(124, 124, 124, 0), 228px 0 8px rgba(124, 124, 124, 0.2);
    }

    100% {
        box-shadow : 38px 0 0px rgba(124, 124, 124, 1), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 10px rgba(124, 124, 124, 0);
    }
}

@-moz-keyframes loadingAnim {
    0% {
        box-shadow : 38px 0 0px rgba(124, 124, 124, 1), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 10px rgba(124, 124, 124, 0);
    }

    10% {
        box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 0px rgba(124, 124, 124, 1), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 8px rgba(124, 124, 124, 0.2);
    }

    20% {
        box-shadow : 38px 0 4px rgba(124, 124, 124, 0.6), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 0px rgba(124, 124, 124, 1), 152px 0 2px rgba(124, 124, 124, 0.8), 190px 0 4px rgba(124, 124, 124, 0.6), 228px 0 6px rgba(124, 124, 124, 0.4);
    }

    30% {
        box-shadow : 38px 0 6px rgba(124, 124, 124, 0.4), 76px 0 4px rgba(124, 124, 124, 0.6), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 0px rgba(124, 124, 124, 1), 190px 0 2px rgba(124, 124, 124, 0.8), 228px 0 4px rgba(124, 124, 124, 0.6);
    }

    40% {
        box-shadow : 38px 0 8px rgba(124, 124, 124, 0.2), 76px 0 6px rgba(124, 124, 124, 0.4), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 2px rgba(124, 124, 124, 0.8), 190px 0 0px rgba(124, 124, 124, 1), 228px 0 2px rgba(124, 124, 124, 0.8);
    }

    50% {
        box-shadow : 38px 0 10px rgba(124, 124, 124, 0), 76px 0 8px rgba(124, 124, 124, 0.2), 114px 0 6px rgba(124, 124, 124, 0.4), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 2px rgba(124, 124, 124, 0.8), 228px 0 0px rgba(124, 124, 124, 1);
    }

    60% {
        box-shadow : 38px 0 8px rgba(124, 124, 124, 0.2), 76px 0 10px rgba(124, 124, 124, 0), 114px 0 8px rgba(124, 124, 124, 0.2), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 4px rgba(124, 124, 124, 0.6), 228px 0 2px rgba(124, 124, 124, 0.8);
    }

    70% {
        box-shadow : 38px 0 6px rgba(124, 124, 124, 0.4), 76px 0 8px rgba(124, 124, 124, 0.2), 114px 0 10px rgba(124, 124, 124, 0), 152px 0 8px rgba(124, 124, 124, 0.2), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 4px rgba(124, 124, 124, 0.6);
    }

    80% {
        box-shadow : 38px 0 4px rgba(124, 124, 124, 0.6), 76px 0 6px rgba(124, 124, 124, 0.4), 114px 0 8px rgba(124, 124, 124, 0.2), 152px 0 10px rgba(124, 124, 124, 0), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 6px rgba(124, 124, 124, 0.4);
    }

    90% {
        box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 4px rgba(124, 124, 124, 0.6), 114px 0 6px rgba(124, 124, 124, 0.4), 152px 0 8px rgba(124, 124, 124, 0.2), 190px 0 10px rgba(124, 124, 124, 0), 228px 0 8px rgba(124, 124, 124, 0.2);
    }

    100% {
        box-shadow : 38px 0 0px rgba(124, 124, 124, 1), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 10px rgba(124, 124, 124, 0);
    }
}

@keyframes loadingAnim {
    0% {
        box-shadow : 38px 0 0px rgba(124, 124, 124, 1), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 10px rgba(124, 124, 124, 0);
    }

    10% {
        box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 0px rgba(124, 124, 124, 1), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 8px rgba(124, 124, 124, 0.2);
    }

    20% {
        box-shadow : 38px 0 4px rgba(124, 124, 124, 0.6), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 0px rgba(124, 124, 124, 1), 152px 0 2px rgba(124, 124, 124, 0.8), 190px 0 4px rgba(124, 124, 124, 0.6), 228px 0 6px rgba(124, 124, 124, 0.4);
    }

    30% {
        box-shadow : 38px 0 6px rgba(124, 124, 124, 0.4), 76px 0 4px rgba(124, 124, 124, 0.6), 114px 0 2px rgba(124, 124, 124, 0.8), 152px 0 0px rgba(124, 124, 124, 1), 190px 0 2px rgba(124, 124, 124, 0.8), 228px 0 4px rgba(124, 124, 124, 0.6);
    }

    40% {
        box-shadow : 38px 0 8px rgba(124, 124, 124, 0.2), 76px 0 6px rgba(124, 124, 124, 0.4), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 2px rgba(124, 124, 124, 0.8), 190px 0 0px rgba(124, 124, 124, 1), 228px 0 2px rgba(124, 124, 124, 0.8);
    }

    50% {
        box-shadow : 38px 0 10px rgba(124, 124, 124, 0), 76px 0 8px rgba(124, 124, 124, 0.2), 114px 0 6px rgba(124, 124, 124, 0.4), 152px 0 4px rgba(124, 124, 124, 0.6), 190px 0 2px rgba(124, 124, 124, 0.8), 228px 0 0px rgba(124, 124, 124, 1);
    }

    60% {
        box-shadow : 38px 0 8px rgba(124, 124, 124, 0.2), 76px 0 10px rgba(124, 124, 124, 0), 114px 0 8px rgba(124, 124, 124, 0.2), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 4px rgba(124, 124, 124, 0.6), 228px 0 2px rgba(124, 124, 124, 0.8);
    }

    70% {
        box-shadow : 38px 0 6px rgba(124, 124, 124, 0.4), 76px 0 8px rgba(124, 124, 124, 0.2), 114px 0 10px rgba(124, 124, 124, 0), 152px 0 8px rgba(124, 124, 124, 0.2), 190px 0 6px rgba(124, 124, 124, 0.4), 228px 0 4px rgba(124, 124, 124, 0.6);
    }

    80% {
        box-shadow : 38px 0 4px rgba(124, 124, 124, 0.6), 76px 0 6px rgba(124, 124, 124, 0.4), 114px 0 8px rgba(124, 124, 124, 0.2), 152px 0 10px rgba(124, 124, 124, 0), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 6px rgba(124, 124, 124, 0.4);
    }

    90% {
        box-shadow : 38px 0 2px rgba(124, 124, 124, 0.8), 76px 0 4px rgba(124, 124, 124, 0.6), 114px 0 6px rgba(124, 124, 124, 0.4), 152px 0 8px rgba(124, 124, 124, 0.2), 190px 0 10px rgba(124, 124, 124, 0), 228px 0 8px rgba(124, 124, 124, 0.2);
    }

    100% {
        box-shadow : 38px 0 0px rgba(124, 124, 124, 1), 76px 0 2px rgba(124, 124, 124, 0.8), 114px 0 4px rgba(124, 124, 124, 0.6), 152px 0 6px rgba(124, 124, 124, 0.4), 190px 0 8px rgba(124, 124, 124, 0.2), 228px 0 10px rgba(124, 124, 124, 0);
    }
}

.about-boxes {
    padding: 0 20px;
}

.about-texts-left {
    position: relative;
    width: calc(25% - 40px);
    height: 100vh;
    display: flex;
    padding: 0 calc(12.5% + 20px);
    flex-direction: column;
    float: left;
    justify-content: center;
}

.about-office-img-h {
    position: relative;
    width: calc(50% - 40px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    overflow: hidden;
    padding: 0 20px;
    background-size: cover !important;
}

.about-office-img-h img {
    position: relative;
}

.about-box.about-team-title {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.about-box.about-team {
    position: relative;
    height: auto;
    border: 2px solid gray;
    width: calc(14vw - 5px);
    overflow: hidden;
    background-color: #eee;
    transition: 500ms ease all;
    display: inline-block;
    margin: 0 0 2em;
    /* width: 100%; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5 !important;
}

.about-box.about-team:hover {
    opacity: 1 !important;
    transform: scale(0.9) !important;
    filter: grayscale(0);
}

.about-all-team-boxes {
    position: relative;
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-wrap: wrap;
}

.about-container {
}

/* //////////////////////////////// */
.projects-title-box h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 40px;
}

.projects-thumbs-container {
    position: relative;
    width: 60%;
    margin: 0 20%;
}

.projects-category-list, .projects-category-list ul {
    width: 100%;
    border: 1px solid #fff;
}

.projects-category-list ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
}

.projects-category-list ul li {
    width: 100%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: 500ms cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}


.projects-category-list ul li:hover,.projects-category-list ul li.cat-hide {
    background-color: #4d4c6f;
    color: #fff;
}

a.projects-box {
    width: calc(15vw - 8px);
    height: calc(15vw - 8px);
    position: relative;
    display: inline-block;
}

a.projects-box:hover .projects-text-over {
    opacity: 1;
}

.projects-boxes {
    width: auto;
    min-height: auto;
    position: relative;
    float: left;
    transition: 500ms cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.projects-boxes.pr-hide{
    opacity:0.3;
    transform:scale(0.7);
z-index:-1;
}

.projects-content {
    width: 100%;
    height: 100%;
}

.projects-img-box, .projects-img-box img {
    width: 100%;
    height: 100%;
}

.projects-text-over {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    background: #4d4c6f;
    color: #fff;
}

.projects-boxes-container {
    margin: 50px 0;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.project-gallery {
    width: 50vw;
    height: 100vh;
    position: relative;
}
.project-gallery:-webkit-full-screen {
    width: 100vw;
}
.project-gallery:-moz-full-screen {
    width: 100vw;
}
.project-gallery:-ms-full-screen {
    width: 100vw;
}
.project-gallery:full-screen {
    width:100vw;
}
.project-part.project-details {
    position: relative;
    width: 50vw;
    height: 100vh;
    float: left;
}

h2.projects-title.ba-line {
    color: #fff;
}

.project-controls {
    /* position: absolute; */
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #3F51B5;
}

.project-right-arrow {
    height: 50px;
    width: 50px;
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    background-color: rgb(57, 69, 140);
}

.project-right-arrow img {
    height: 7px;
}

.project-left-arrow {
    height: 50px;
    float: left;
    width: 50px;
    background: #39458c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.project-left-arrow img {
    height: 7px;
}

.project-left-arrow:hover, .project-right-arrow:hover, .project-fullscreen-arrow:hover {
    background-color: #d2d2d2;
}

.project-gallery .slide {
    height: calc(100vh - 40px);
    width: 100%;
    position: absolute;
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 0;
    padding: 0;
    transition: all 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transform: scale(0.98);
}
.project-gallery .slide.show{
    opacity:1;
    transform: scale(1);
}

.project-gallery .slide img {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-fullscreen-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    background-color: #39458c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.6, 0.2, 0.51, 0.99) 0s;
    cursor: pointer;
}

.project-fullscreen-arrow img {
    width: 20px;
    height: 20px;
}

.contact-box.contact-team-title,.contact-box.contact-info {
    width: calc(100vw - 40px);
    padding: 20px;
    text-align: center;
}

.contact-box.contact-info {
}

.contact-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-team-box {
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    color: #fff;
}
.contact-team-box:hover .contact-hover{
    opacity:1;
}

.contact-team-box img {
    height: 100%;
}

.contact-hover {
    position: absolute;
    background-color: #4d4c6f;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.6, 0.2, 0.51, 0.99) 0s;
}
.contact-hover h2,.contact-hover p{
    cursor:default;
}

.contact-box.contact-map {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 0 15%;
    box-sizing: inherit;
}

div#map {
    height: 100%;
}
body[data-page="home"] div#st-trigger-effects{
    left: -50px;
}
div#st-trigger-effects {
    POSITION: fixed;
    height: 100vh;
    width: 50px;
    background: #4d4c6f;
    top: 0;
    left: 0;
    z-index: 1000000000;
    transition: all 200ms cubic-bezier(0.6, 0.2, 0.51, 0.99) 0s;
}
#st-container.st-container.st-menu-open div#st-trigger-effects{ 
opacity:0;

}
div#st-trigger-effects button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    top: 0;
    position: absolute;
    transition: 1s ease all;
}
div#st-trigger-effects button .menu-spin span{
    width: 25px;
    height: 1px;
    background-color:#fff;
    /* position: absolute; */
}

.menu-spin {
    position: relative;
    height: 15px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.identity {
    width: 50%;
    margin: 0 25%;
}

nav#menu-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dokmeh{
    font-size:12px;
    width:100%;
    text-align:center;
    margin-bottom:35px
}
.dokmeh img{
    height: 15px;
}

